body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.header {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center; /* Center the text */
}

.cat-gallery {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center; /* Center cards horizontally */
    gap: 20px;
    margin-top: 20px; /* Add some space between the title and the cards */
}

.cat-card {
    position: relative;
    overflow: hidden;
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cat-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
