     
      body {
        font-family: "Poppins", sans-serif;
        background-image: url("https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        scrollbar-width: none;
        -ms-overflow-style: none;
      }

      body::-webkit-scrollbar {
        width: 0em;
      }

      body::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      .header {
        background-color: #592693;
        color: white;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .header div {
        padding-left: 20px;
      }
      .header h1 {
        font-size: 28px;
        margin: 0;
        padding-right: 20px;
      }
      .header p {
        font-size: 14px;
        opacity: 0.8;
        margin: 0;
      }

      p {
        font-size: 14px;
      }

      .navbar {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .navbar a {
        color: white;
        text-decoration: none;
        transition: color 0.3s, background-color 0.3s;
        padding: 8px 16px;
        border-radius: 8px;
      }
      .navbar a:hover {
        color: #592693;
        background-color: white;
      }

     
      .footer {
        background-color: #592693;
        color: white;
        text-align: center;
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index:2;
      }

      .container {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        margin: 70px auto;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
      }
      .box {
        background-color: black;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      .section h2 {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: underline;
      }
      .contact-info {
        font-size: 14px;
        margin-top: 10px;
      }
      .contact-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .contact-form input {
        padding: 10px;
        border-radius: 8px;
        border: none;
      }
      .contact-form textarea {
        padding: 10px;
        border-radius: 8px;
        border: none;
      }
      .contact-form button {
        background-color: #592693;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 8px 16px;
        cursor: pointer;
      }
      .contact-form button:hover {
        background-color: #773db6;
      }
      .newsletter-box {
        background-color: black;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      .newsletter-box h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .fur-babies-box {
        background-color: black;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        text-align: center;
        gap: 20px;
      }
      .fur-babies-box h2 {
        font-size: 20px;
        margin: 0;
      }
      .fur-babies-images {
        display: flex;
        gap: 30px;
      }

     
      .fur-baby-name {
        text-align: center;
        margin-top: 5px;
        font-weight: bold;
      }

     
      .fur-baby {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }

      .fur-babies-images img {
        max-width: 150px;
        max-height: 150px;
        border-radius: 8px;
      }

      .search-box {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #592693;
        padding: 8px;
        border-radius: 8px;
      }

      .search-box input {
        padding: 8px;
        border: none;
        border-radius: 8px;
      }

      .search-box button {
        background-color: #773db6;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 6px 12px;
        cursor: pointer;
      }

      .profile-box .section {
        text-align: center;
      }

      .profile-pic {
        width: 150px;
        height: auto;
        border-radius: 20px;
        transition: box-shadow 0.3s ease-in-out;
        display: block;
        margin: 0 auto;
      }

      .profile-pic:hover {
        animation: glow-shadow 2s linear infinite;
      }

      @keyframes glow-shadow {
        0%,
        100% {
          box-shadow: 0 0 0 rgba(148, 0, 211, 0);
        }
        50% {
          box-shadow: 0 0 30px 20px rgba(148, 0, 211, 0.7);
        }
      }

     
      @media (max-width: 768px) {
        .container {
          padding: 15px;
        }
        .header h1 {
          font-size: 24px;
        }
        .box {
          padding: 15px;
        }
        .section h2 {
          font-size: 18px;
        }
        .contact-info {
          font-size: 12px;
        }
        .profile-pic {
          max-width: 80px;
        }
        .newsletter-box h2 {
          font-size: 18px;
        }
        .header {
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 10px 0;
        }

        .header div {
          padding-left: 0;
          padding-bottom: 10px;
        }

        .navbar {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 10px;
          margin-top: 10px;
        }

        .search-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-top: 10px;
        }

        .search-box input {
          padding: 8px;
          border: none;
          border-radius: 8px;
          width: 60%;
        }

        .search-box button {
          padding: 6px 12px;
        }

        .fur-babies-box .fur-babies-images {
          flex-direction: column;
          align-items: center;
          gap: 15px;
        }

       
        .fur-baby {
          margin-bottom: 15px;
        }
      }

     
      .fur-babies-images {
        display: flex;
        align-items: center;
        justify-content: center;
       
      }

     
      .fur-baby-name {
        margin-top: 3px;
      }

     
      .newsletter-box {
        padding: 15px;
      }
      .newsletter-box h2 {
        font-size: 18px;
        margin-bottom: 8px;
      }

     
      .fur-babies-box {
        padding: 15px;
      }
      .fur-babies-box h2 {
        font-size: 18px;
        margin-bottom: 8px;
      }



        #slider {
        position: relative;
        width: 500px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        z-index:1;
      }


      #slider img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 1s ease-in-out;
      }


      
      #slider img.active {
        opacity: 1;
      }


      #slider button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 3px solid #fff;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        background-color: #717171;
        color: #f1f1f1;
        font-size: 32px;
        font-stretch: condensed;
        cursor: pointer;
        transition: all 200ms ease-in-out;
      }


      #slider button:hover {
        background-color: #773db6;
      }

      button#prev {
        left: -50px;
        padding: 7px 17px 7px 15px;
      }

      button#next {
        right: -50px;
       padding: 7px 15px 7px 17px;
      }

      
    
      .animated-section {
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 1s, transform 1s;
      }

      .animated-section.active {
        opacity: 1;
        transform: translateY(0);
      }


      
      ::placeholder {
        color: #999;
      }


      input:invalid, textarea:invalid {
        border: 2px solid red;
      }


      input:valid, textarea:valid {
        border: 2px solid #ccc;
      }

      #success-message {
        color: green; 
        font-weight: bold;
      }
      
      .hidden {
        display: none;
      }
